*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: pink;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}
.content{
   
    max-width: 600px;
    background-color: grey;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

 .box{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

label{
    padding-bottom: 3px;
}
input{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
button{
    margin-bottom: 10px;
}
.small{
    font-size: 16px;
}
#exterior{
    background-color: white;
}
#wrt{
    background-color: white;
}