@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Lato&family=Pacifico&family=REM:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
}

.container{
    background-color: pink;
    width: 100vw;
    height: 100vh;
    padding: 50px 20px;
}
.content{
   
    max-width: 600px;
    background-color: grey;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

 .box{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

label{
    padding-bottom: 3px;
    font-size: 18px;
    font-weight:600;
}
input{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
button{
    margin-bottom: 10px;
}
.small{
    font-size: 16px;
}
#exterior{
    background-color: white;
    padding-left: 5px;
}
#wrt{
    background-color: white;
}
.top{
    text-align: center;
    font-size: 25px;
}